<p id="notice"><%= notice %></p>

<p>
  <strong>Oblast:</strong>
  <%= @district.oblast_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @district.name %>
</p>

<p>
  <strong>Soate:</strong>
  <%= @district.soate %>
</p>

<%= link_to 'Back', districts_path %>
