<%= form_with(model: aiyl_aimak, local: true) do |form| %>
  <% if aiyl_aimak.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aiyl_aimak.errors.count, "error") %> prohibited this aiyl_aimak from being saved:</h2>

      <ul>
        <% aiyl_aimak.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :oblast_id %>
    <%= form.text_field :oblast_id %>
  </div>

  <div class="field">
    <%= form.label :district_id %>
    <%= form.text_field :district_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :soate %>
    <%= form.text_field :soate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
