<p id="notice"><%= notice %></p>

<p>
  <strong>Oblast:</strong>
  <%= @aiyl_aimak.oblast_id %>
</p>

<p>
  <strong>District:</strong>
  <%= @aiyl_aimak.district_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @aiyl_aimak.name %>
</p>

<p>
  <strong>Soate:</strong>
  <%= @aiyl_aimak.soate %>
</p>

<%= link_to 'Back', aiyl_aimaks_path %>
