<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @oblast.name %>
</p>

<p>
  <strong>Soate:</strong>
  <%= @oblast.soate %>
</p>

<%= link_to 'Edit', edit_oblast_path(@oblast) %> |
<%= link_to 'Back', oblasts_path %>
