<p id="notice"><%= notice %></p>

<h1>Infra Projects</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Year</th>
      <th>Oblast</th>
      <th>District</th>
    </tr>
  </thead>

  <tbody>
  <% unless @infra_projects.count == 0 %>
    <% @infra_projects.each do |infra_project| %>
      <tr>
        <td><%= link_to infra_project.title, infra_project %></td>
        <td><%= infra_project.status %></td>
        <td><%= infra_project.start_date.year %></td>
        <td><%= infra_project.oblast.name %></td>
        <td><%= infra_project.district.name %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="5"><h3>No data entered yet</h3></td>
    </tr>

  <% end %>
  </tbody>
</table>


